PORT=5000

MONGODB_NAME=
MONGODB_URL=

// Below configuration is just for showing purpose, check the entered value below
REDIS_HOST=breath-substance-apparent-67892.db.redis.io
REDIS_PORT=10681
REDIS_USERNAME=default
REDIS_PASSWORD=your_password_here




